In [22]:
import pandas as pd
from string import ascii_uppercase as alphabet
import pickle as pickle

## We are going to use data from a html file -> in this case it comes from Wikipedia

In [6]:
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')
   
#all_tables[9]
#all_tables[16]

,Pos,Teamvte,Pld,W,D,L,GF,GA,GD,Pts,Qualification
0,1,England,3,2,1,0,9,2,+7,7,Advanced to knockout stage
1,2,United States,3,1,2,0,2,1,+1,5,Advanced to knockout stage
2,3,Iran,3,1,0,2,4,7,−3,3,NaN
3,4,Wales,3,0,1,2,1,6,−5,1,NaN

In [16]:
all_tables[16].columns[1]
alphabet

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [18]:
dict_tables = {}

for letter, i in zip(alphabet, range (9,65, 7)):
    df = all_tables[i]
    df.rename(columns={df.columns[1]: 'Team'}, inplace = True)
    # df.pop('Qualification') 
    dict_tables[f'Group {letter}'] = df

In [19]:
dict_tables.keys()

dict_keys(['Group A', 'Group B', 'Group C', 'Group D', 'Group E', 'Group F', 'Group G', 'Group H'])

In [20]:
dict_tables['Group B']

   Pos           Team  Pld  W  D  L  GF  GA  GD  Pts
0    1        England    3  2  1  0   9   2  +7    7
1    2  United States    3  1  2  0   2   1  +1    5
2    3           Iran    3  1  0  2   4   7  −3    3
3    4          Wales    3  0  1  2   1   6  −5    1

In [23]:
with open('dic_table', 'wb') as output:
    pickle.dump(dict_tables, output)

Here, we have an dictionary named dic_table that we can import/use in the next steps